{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "4cmta8lquqnoc"
  },
  "info": {
    "title": "LiteFinance API",
    "description": "Documentation on Google `https://docs.google.com/document/d/1BnFPlgXrftzpCVlUp8Rp0sxi9R7ZYCI1DuuY95fMp8I/edit?usp=sharing`",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.liteforex.com/v3/",
      "description": "Production server"
    },
    {
      "url": "http://api.liteforex.host/v3/",
      "description": "Local server"
    }
  ],
  "paths": {
    "/affiliate-calculator": {
      "get": {
        "tags": [
          "Affiliate Calculator"
        ],
        "summary": "Get Form Generate",
        "responses": {
          "200": {
            "description": "Returns Affiliate Contests LIST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "1gtv9nwtnd08d"
        }
      },
      "post": {
        "tags": [
          "Affiliate Calculator"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "mt4-ecn"
                  },
                  "symbol": {
                    "type": "string",
                    "example": "EURUSD"
                  },
                  "volume": {
                    "type": "string",
                    "example": "20"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCalculatorPostSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "1mdvsodge9hec"
        }
      }
    },
    "/affiliate-contests": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Index",
        "responses": {
          "200": {
            "description": "Returns Affiliate Contests LIST"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "k9stmh4sz08wn"
        }
      }
    },
    "/affiliate-contests/partner": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Get Header !!Successful partner!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate Contests LIST"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "lrp2b0thhv57d"
        }
      }
    },
    "/affiliate-contests/partner-information": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Get Header !!Successful partner!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate Contests LIST"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3uh67bbiwhsn1"
        }
      }
    },
    "/affiliate-contests/partner-tables": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Get tables !!Successful partner!!",
        "parameters": [
          {
            "name": "findTable",
            "in": "query",
            "description": "(type=sting) current = 'Current Rating'; previous = 'Previous Results',\n     *      ```If you don't specify a parameter, it will return all tables```",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Contests LIST"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3afnsd6pw4gi2"
        }
      }
    },
    "/affiliate-contests/participate": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Get tables !!Successful partner!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "yfwjffdy9o6s4"
        }
      },
      "post": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "Take part !!Successful partner!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "yven8cgyudpyg"
        }
      }
    },
    "/affiliate-contests/annual-ib-vietnam": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "!!Annual competition!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "38aqsr8br7kzz"
        }
      }
    },
    "/affiliate-contests/lucky-ticket": {
      "get": {
        "tags": [
          "Affiliate Contests"
        ],
        "summary": "!!Lucky Ticket!!",
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "j6e0yfo6cdiyx"
        }
      }
    },
    "/affiliate": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "GET /affiliate",
        "parameters": [
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "in": "query",
            "name": "activity_referrals",
            "description": "Признак фильтрации статистики кампаний по статусу реферала"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/DatePeriodError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "qokhdjm4upqaj"
        },
        "description": "Получение информации о кампаниях",
        "operationId": "get-affiliate"
      }
    },
    "/affiliate/view": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "Company view",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Default value 'today -29 day': Example value '2022-02-14'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Default value 'today': Example value '2022-03-15'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateViewGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "2czrttorwyuua"
        }
      }
    },
    "/affiliate/view-referrals": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "GET /affiliate/view-referrals",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 110
            },
            "description": "Идентификатор кампании"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Статус реферала (активный или неактивный)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/version"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateViewReferralsResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateViewReferralsResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/Error401"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ntjtc9a2eqp76"
        },
        "operationId": "get-affiliate-view-referrals",
        "description": "Получение данных о рефералах партнера"
      }
    },
    "/affiliate/network": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "Referral network",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Example: ```03.08.2022```",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Example: ```04.08.2022```",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "neuswwcwp1bio"
        }
      }
    },
    "/affiliate/export-commissions": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "description": "Дата начала периода в формате YYYY-MM-DD (проверить опциональность)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Дата окончания периода в формате YYYY-MM-DD (проверить опциональность)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Идентификатор реферала"
          },
          {
            "name": "server",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "??? (что то связанное с номером или названием счета)"
          },
          {
            "name": "login",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "??? (что то связанное с номером или названием счета)"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/version"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateExportCommissionsResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateExportCommissionsResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/Error401"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "0pi65rgolp9pp"
        },
        "summary": "GET /affiliate/export-commissions",
        "operationId": "get-affiliate/export-commissions",
        "description": "Получение истории начисления комиссии"
      }
    },
    "/affiliate/create-company": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "GET /affiliate/create-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateCreateCompanyResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateCreateCompanyResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/Error401"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "5dehkw7r11hoj"
        },
        "operationId": "get-affiliate-create-company",
        "description": "Получение формы создания кампании"
      },
      "post": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "POST /affiliate/create-company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAffiliateCreateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAffiliateCreateCompanyResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/PostAffiliateCreateCompanyResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/PostAffiliateCreateCompanyError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "7hxk8yaob7ixn"
        },
        "operationId": "post-affiliate-create-company",
        "description": "Отправка формы создания новой кампани"
      }
    },
    "/affiliate/edit-company": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "GET /affiliate/edit-company",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 280732
            },
            "description": "Идентификатор кампании"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateEditCompanyResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateEditCompanyResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/CompanyNotFoundError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xta5xmhg88qnj"
        },
        "operationId": "get-affiliate-edit-company",
        "description": "Получение формы редактирования кампании"
      },
      "post": {
        "tags": [
          "Affiliate Company"
        ],
        "summary": "POST /affiliate/edit-company",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 280732
            },
            "description": "Идентификатор кампании"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAffiliateEditCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAffiliateEditCompanyResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/PostAffiliateEditCompanyResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/CompanyNotFoundError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "6kfatsmbcx3z9"
        },
        "operationId": "post-affiliate-edit-company",
        "description": "Отправка формы редактирования кампании"
      }
    },
    "/affiliate/portfolio": {
      "get": {
        "tags": [
          "Affiliate Bottom Bar"
        ],
        "responses": {
          "200": {
            "description": "Return Portfolio Affiliate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePortfolioGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "0fx4efbywlluo"
        }
      }
    },
    "/affiliate/hold-information": {
      "get": {
        "tags": [
          "Affiliate Bottom Bar"
        ],
        "responses": {
          "200": {
            "description": "Return Portfolio Affiliate Information"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "7wyiia4zjdxz1"
        }
      }
    },
    "/affiliate/transfer": {
      "get": {
        "tags": [
          "Affiliate Finance"
        ],
        "summary": "Get Form Generate",
        "responses": {
          "200": {
            "description": "Return Affiliate Finance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "bbd0ws9xnot1j"
        }
      },
      "post": {
        "tags": [
          "Affiliate Finance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "type": "string",
                    "example": "MT4-R-718558"
                  },
                  "amount": {
                    "type": "integer",
                    "example": 10
                  },
                  "referral": {
                    "type": "integer",
                    "example": 80081
                  },
                  "confirmation": {
                    "type": "string",
                    "example": "type value string: 1 or 0"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns Affiliate Finance"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "2nez9qwjxcmuy"
        }
      }
    },
    "/affiliate/referral-link": {
      "post": {
        "tags": [
          "Affiliate Statistics"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Finance"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "agbkuy1csulxd"
        }
      }
    },
    "/affiliate/activation-deposit-click": {
      "post": {
        "tags": [
          "Affiliate Statistics"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "g6c1f6e7skli7"
        }
      }
    },
    "/affiliate/questionnaire": {
      "get": {
        "tags": [
          "Affiliate Questionnaire"
        ],
        "summary": "GET /affiliate/questionnaire",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateQuestionnaireResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateQuestionnaireResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/GetAffiliateQuestionnaireError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "jder7z9p9u2pe"
        },
        "operationId": "get-affiliate-questionnaire",
        "description": "Получение формы опроса партнера"
      },
      "post": {
        "tags": [
          "Affiliate Questionnaire"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAffiliateQuestionnaireRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAffiliateQuestionnaireResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/PostAffiliateQuestionnaireResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/PostAffiliateQuestionnaireError"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "nqlvr0zg7lnae"
        },
        "summary": "POST /affiliate/questionnaire",
        "operationId": "post-affiliate-questionnaire",
        "description": "Отправка формы опроса партнера"
      },
      "parameters": []
    },
    "/affiliate/list-links": {
      "get": {
        "tags": [
          "Affiliate Company"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "b4vmbyl4jmqtr"
        }
      }
    },
    "/affiliate/search": {
      "get": {
        "tags": [
          "Affiliate Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Текст, по которому осуществляется поиск (пустая строка - допустимое значение)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateSearchResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetAffiliateSearchResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/GetAffiliateSearch400Error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ba7jpbhxpab18"
        },
        "summary": "GET /affiliate/search",
        "operationId": "get-affiliate-search",
        "description": "Поиск рефералов"
      }
    },
    "/affiliate-programs": {
      "get": {
        "tags": [
          "Affiliate Programs"
        ],
        "summary": "Get Form Generate (regional-representative)",
        "responses": {
          "200": {
            "description": "Returns Regional Representative",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "igb1sogagwm52"
        }
      },
      "post": {
        "tags": [
          "Affiliate Programs"
        ],
        "summary": "Regional-representative",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "TEST TEST"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+254713966913"
                  },
                  "email": {
                    "type": "string",
                    "example": "dmitrysmirnov@liteforex.com"
                  },
                  "country": {
                    "type": "string",
                    "example": "VA"
                  },
                  "city": {
                    "type": "string"
                  },
                  "office": {
                    "type": "string",
                    "example": "1 || 0"
                  },
                  "course": {
                    "type": "string",
                    "example": "1 || 0"
                  },
                  "active_client_count": {
                    "type": "string",
                    "example": "9090909"
                  },
                  "representative_company_name": {
                    "type": "string",
                    "example": "Test Company"
                  },
                  "work_period": {
                    "type": "string",
                    "example": "898"
                  },
                  "info": {
                    "type": "string",
                    "example": "Good good green green!"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns Regional-representative"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "gj6r5p7n20in3"
        }
      }
    },
    "/affiliate-programs/programs": {
      "get": {
        "tags": [
          "Affiliate Programs"
        ],
        "responses": {
          "200": {
            "description": "Return"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "nabq5qo6nzjsj"
        }
      }
    },
    "/affiliate-promo": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "summary": "Index",
        "responses": {
          "200": {
            "description": "Returns PROMO static",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "258w1exag0tyq"
        }
      }
    },
    "/affiliate-promo/banners": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoBannersGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "rlg225aflz2m4"
        }
      }
    },
    "/affiliate-promo/videos": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoBannersGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "hk4ksbysxucur"
        }
      }
    },
    "/affiliate-promo/campaign": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoBannersGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "2iterxfgurktx"
        }
      }
    },
    "/affiliate-promo/landings": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoLandingsGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "cp9la1nvmtam5"
        }
      }
    },
    "/affiliate-promo/handouts": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoHandoutsGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w3l7nqs83it49"
        }
      }
    },
    "/affiliate-promo/avatars": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "responses": {
          "200": {
            "description": "Returns Affiliate Campaigns view referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePromoAvatarsGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "jksk0x8c6jq22"
        }
      }
    },
    "/affiliate-promo/make-application": {
      "get": {
        "tags": [
          "Affiliate Promo"
        ],
        "summary": "Get Form Generate",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Make Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ysq18jy4g3lnm"
        }
      },
      "post": {
        "tags": [
          "Affiliate Promo"
        ],
        "summary": "Apply for a handout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "example": "Example value = 'common_en_5.jpg'"
                  },
                  "type": {
                    "type": "string",
                    "example": "Example value = 'business_card'"
                  },
                  "name": {
                    "type": "string",
                    "example": "Example value = 'Name Name'"
                  },
                  "email": {
                    "type": "string",
                    "example": "Example value = 'test123@gmail.com'"
                  },
                  "phone": {
                    "type": "string",
                    "example": "Example value = '+77068125321'"
                  },
                  "web_site": {
                    "type": "string",
                    "example": "Example value = 'https://www.litefinance.org/ru/?uid=663357347'"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns Make Application"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "sm43d6pfn3dx5"
        }
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Feed Time",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZoneOffset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "instrument",
            "in": "query",
            "description": "Example Array instrument ['currency','crypto','metals','oil','cfd-nyse','cfd-nasdaq','cfd-eu','index']",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type[]",
            "in": "query",
            "description": "Example Array type ['1'(Technical analysis),'2' (Fundamental analysis)]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Analytics Feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsFeedGetSchema"
                }
              }
            }
          }
        },
        "x-stoplight": {
          "id": "aya25d1fc6jho"
        }
      }
    },
    "/analytics/signals": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "timeZoneOffset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Default type = 'favorite';Other valid values: 'crypto','currency','commodities','metals','oil','cfd-nyse','cfd-nasdaq','cfd-eu','index'",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Default period (M1) = 5;Other valid values (M5) = 6; (M15) = 7; (M30) = 1; (H1) = 2; (H4) = 3; (D1) = 4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recommend",
            "in": "query",
            "description": "Example Array recommend ['sell_active','sell','neutral','buy','buy_active']",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Analytics Signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSignalsGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "qvs98q3rv5hfs"
        }
      }
    },
    "/analytics/calendar": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "timeZoneOffset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Default period = today;Other valid values yesterday; tomorrow; week; next_week;",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Example Array recommend ['1' Low,'2' Average,'3' High]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "country[]",
            "in": "query",
            "description": "Example Array recommend ['bw','br','hk','gr' ...]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Analytics Calendar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsCalendarGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "frjjbvh2u4j08"
        }
      }
    },
    "/analytics/calendar-filter": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Returns Analytics Calendar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsCalendarFilterGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w3d1ta53l0ui8"
        }
      }
    },
    "/analytics/interest-rates": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Returns Analytics Bank Interest Rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsInterestRatesGetSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w11j8u6twsdfp"
        }
      }
    },
    "/bring-friend": {
      "get": {
        "tags": [
          "Bring Friend"
        ],
        "summary": "BringFriend index",
        "responses": {
          "200": {
            "description": "Returns Bring Friend"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "92s00ubtrzf01"
        }
      }
    },
    "/bring-friend/banner": {
      "get": {
        "tags": [
          "Bring Friend"
        ],
        "responses": {
          "200": {
            "description": "Return Get Popup Bring Friend"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ytjqxl0sw6lhs"
        }
      }
    },
    "/chart/open": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "b2fyitwwibgzt"
        }
      }
    },
    "/chart/get-history": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "0tbwimo9yqk3b"
        },
        "summary": ""
      }
    },
    "/chart/get-symbol-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "cc62qvb3ngpyq"
        }
      }
    },
    "/chart/get-users-trades": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "grcv0gymuvbho"
        }
      }
    },
    "/chart/get-bets": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "to8csml814sc5"
        }
      }
    },
    "/chart/status-instrument": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "wkrnv52h1b46z"
        }
      }
    },
    "/chart/get-user-list-info": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "mxj1x1qsqd4in"
        }
      }
    },
    "/chart/analytics-get-country-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ghgx3f6wz7a1i"
        }
      }
    },
    "/chart/analytics-get-calendar": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "32ncjewpz13d8"
        }
      }
    },
    "/chart/analytics-state-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "67nco6usb5jzc"
        }
      }
    },
    "/chart/state-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "g5brimo2wb2zw"
        }
      }
    },
    "/chart/state-favorite": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "x54laasgdb5iu"
        }
      }
    },
    "/chart/state-public": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "f0fxkc57h20ep"
        }
      }
    },
    "/chart/state-get-by-id": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "mwc118vwe77qd"
        }
      }
    },
    "/chart/state-get-default": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "6z67gcrz3b2h6"
        }
      }
    },
    "/chart/state-delete": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "koibu0xasu1xd"
        }
      }
    },
    "/chart/state-delete-default": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "12v8bxy42kuh9"
        }
      }
    },
    "/chart/template-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "dmga2r2rqtbfd"
        }
      }
    },
    "/chart/template-save": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "nn96dc9ywrwsh"
        }
      }
    },
    "/chart/template-get": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "mb6jw8lgw11ph"
        }
      }
    },
    "/chart/template-delete": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "kgv2yetl48qla"
        }
      }
    },
    "/chart/indicator-list": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "yeqzkul9sv0by"
        }
      }
    },
    "/chart/indicator-save": {
      "get": {
        "tags": [
          "Chart"
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "tq99uu4877vub"
        }
      }
    },
    "/chart/indicator-get": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "2x29obskkn3f9"
        }
      }
    },
    "/chart/indicator-rename": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "zcclzivhus5wd"
        }
      }
    },
    "/chart/indicator-delete": {
      "get": {
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w6b1nc10szapc"
        }
      }
    },
    "/chart-profile/get-history": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "gqsjka0fazoky"
        }
      }
    },
    "/chart-profile/state-list": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xypfvtnqq813l"
        }
      }
    },
    "/chart-profile/state-save": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "60gyigj2du9w2"
        }
      }
    },
    "/chart-profile/state-favorite": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "a9osno9odrp6q"
        }
      }
    },
    "/chart-profile/state-public": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "co2unboyl8ypg"
        }
      }
    },
    "/chart-profile/state-get-by-id": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "co7clausp7ymi"
        }
      }
    },
    "/chart-profile/state-get-default": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "9eohqw701tnpf"
        }
      }
    },
    "/chart-profile/state-delete": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w5vya4fp3qza1"
        }
      }
    },
    "/chart-profile/state-delete-default": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3ye4swfidhub2"
        }
      }
    },
    "/chart-profile/template-list": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xqdubwcoc701k"
        }
      }
    },
    "/chart-profile/template-save": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "36c7yx6oghn6t"
        }
      }
    },
    "/chart-profile/template-get": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "n6bd1ox0dg5tz"
        }
      }
    },
    "/chart-profile/template-delete": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "7w6wpcw2ibkkb"
        }
      }
    },
    "/chart-profile/indicator-list": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "n9cl4se293qmp"
        }
      }
    },
    "/chart-profile/indicator-save": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "5q8jjrxcx0qrd"
        }
      }
    },
    "/chart-profile/indicator-get": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "zcq44plsrqib1"
        }
      }
    },
    "/chart-profile/indicator-rename": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ayu39cvnpe3za"
        }
      }
    },
    "/chart-profile/indicator-delete": {
      "get": {
        "tags": [
          "Chart Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Profile"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xujaa5v32zgxk"
        }
      }
    },
    "/chart-trader/get-history": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "ebypfaz0gnc27"
        }
      }
    },
    "/chart-trader/state-list": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xcis9qaplvmz2"
        }
      }
    },
    "/chart-trader/state-save": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "h44zlgtk3sgzd"
        }
      }
    },
    "/chart-trader/state-favorite": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "67egos0aqgimz"
        }
      }
    },
    "/chart-trader/state-public": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "w5kk45f5nf6ed"
        }
      }
    },
    "/chart-trader/state-get-by-id": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "71opf5ujx0man"
        }
      }
    },
    "/chart-trader/state-get-default": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3galz8u0c7umj"
        }
      }
    },
    "/chart-trader/state-delete": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "nynhqa43t6jjm"
        }
      }
    },
    "/chart-trader/state-delete-default": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xvq84tcbaybc9"
        }
      }
    },
    "/chart-trader/template-list": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "poc45iuaorr85"
        }
      }
    },
    "/chart-trader/template-save": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "6mgnwgwqyh1fc"
        }
      }
    },
    "/chart-trader/template-get": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "wtmog9hjl7e03"
        }
      }
    },
    "/chart-trader/template-delete": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "qidpd997rzgg8"
        }
      }
    },
    "/chart-trader/indicator-list": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "qwe6n5s1q12h5"
        }
      }
    },
    "/chart-trader/indicator-save": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "2v59iy3b4m38g"
        }
      }
    },
    "/chart-trader/indicator-get": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "?? not test",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3mxgnsj3k8vzo"
        }
      }
    },
    "/chart-trader/indicator-rename": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "4m4vv5gad3py4"
        }
      }
    },
    "/chart-trader/indicator-delete": {
      "get": {
        "tags": [
          "Chart Trader"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "?? not test",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Chart Trader"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "3y921y5nzpo0z"
        }
      }
    },
    "/ct/get-list": {
      "get": {
        "tags": [
          "cTrader"
        ],
        "summary": "Returns CTrader Real & Demo Accounts for Current User",
        "responses": {
          "200": {
            "description": "Returns Ctrader Accounts based on User Trade Mode Real/Demo"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "6i8mg60nm2jw6"
        }
      }
    },
    "/ct/new": {
      "get": {
        "tags": [
          "cTrader"
        ],
        "summary": "Get Form Generate",
        "responses": {
          "200": {
            "description": "Return Form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "84g2m3nfreg4d"
        }
      },
      "post": {
        "tags": [
          "cTrader"
        ],
        "summary": "Create & Return CTrader Account Real or Demo, based on User Trading Mode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "leverage": {
                    "type": "string",
                    "example": "1"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns CTrader Account"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "zvh5x4z0nqwad"
        }
      }
    },
    "/ct/account-change-leverage": {
      "get": {
        "tags": [
          "cTrader"
        ],
        "summary": "Get Form Generate",
        "parameters": [
          {
            "name": "server",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Finance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "30hds3hwk755v"
        }
      },
      "post": {
        "tags": [
          "cTrader"
        ],
        "summary": "Change leverage of account",
        "parameters": [
          {
            "name": "server",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "leverage": {
                    "type": "integer",
                    "example": 1000
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "mzgvq7ke0h9jt"
        }
      }
    },
    "/ct/account-change-password": {
      "get": {
        "tags": [
          "cTrader"
        ],
        "summary": "Get Form Generate",
        "parameters": [
          {
            "name": "server",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Finance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormGenerate"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "he5932qmexs8a"
        }
      },
      "post": {
        "tags": [
          "cTrader"
        ],
        "summary": "Changes password of account",
        "parameters": [
          {
            "name": "server",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "123123ABCABC"
                  },
                  "password_repeat": {
                    "type": "string",
                    "example": "123123ABCABC"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns Success"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "xg3q91wm7irdq"
        }
      }
    },
    "/demo/deposit": {
      "get": {
        "tags": [
          "Demo"
        ],
        "summary": "Update Balance of Demo Account",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Demo Deposit"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "0tyk2hsfz30al"
        }
      }
    },
    "/deposit/list": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "GET /deposit/list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositListResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetDepositListResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/Error401"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "qmp3sp10o70fx"
        },
        "operationId": "get-deposit-list",
        "description": "Получение списка доступных способов пополнения"
      }
    },
    "/deposit/list-grouped": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "GET /deposit/list-grouped",
        "responses": {
          "200": {
            "description": "Return Deposit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositListGroupedResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/GetDepositListGroupedResponse"
                  },
                  "error": {
                    "$ref": "#/components/examples/Error401"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "p2c84usp4lky3"
        },
        "operationId": "get-deposit-list-grouped",
        "description": "Получение списка доступных способов пополнения и списка популярных способов пополнения"
      }
    },
    "/deposit/request": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "GET /deposit/request",
        "parameters": [
          {
            "$ref": "#/components/parameters/method"
          }
        ],
        "responses": {
          "200": {
            "description": "Работа через генератор форм. Набор полей которые присутствуют всегда: ```method, account, amount, currency```.\n            Остальное в зав-ти от платежной системы.\n\n            Особенности некоторых полей:\n\n            Поле purse\n            Зависящее поле - purse_number\n            Если purse пустой - отображаем зависящее поле, иначе скрываем\n\n            Поле card\n            Зависящие поля - holder, number, expire, remember\n            Если card пустой - отображаем зависящее поле, иначе скрываем",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositRequestResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "p5amoquqf8kpa"
        },
        "operationId": "get-deposit-request",
        "description": "Получение формы пополнения счета"
      },
      "post": {
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer"
                  },
                  "promo_code": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Возможные варианты ответа:\n\n          Отправка формы на сайт платежки с предпросмотром (например Skrill)\n          -----------------------------------------------------------------\n          result.type   |  Тип ответа            | form\n          result.data   |  Данные формы          | url - URL формы; method - тип запроса;params - поля формы\n          result.info   |  Таблица предпросмотра |\n          -------------------------------------------------------------------\n           Редирект пользователя на указанный URL (например Mobile Money)\n          ------------------------------------------------------------------\n          result.type  |  Тип ответа            | redirect\n          result.data  |  Данные формы          | url - URL для редиректа\n          -------------------------------------------------------------------\n            Реквизиты для оплаты криптовалютой (например BitCoin BTC)\n          ------------------------------------------------------------------\n          result.type  |  Тип ответа             | crypto\n          result.data  |  Данные формы           | amount - сумма;address - адрес для отправки;qr_code - URL QR кода\n          -------------------------------------------------------------------\n            Показ сообщения пользователю (например Local Afganistan, PIX)\n          ------------------------------------------------------------------\n          result.type  |  Тип ответа             | message\n          result.data  |  Данные формы           | amount - сумма;text - сообщение (опционально);qr_code - URL QR кода (опционально)\n          -------------------------------------------------------------------\n            Показ сообщения пользователю (например Local Afganistan, PIX)\n          ------------------------------------------------------------------\n          result.type  |  Тип ответа             | bank\n          result.data  |  Данные формы           | data - массив с данными если в массиве более 1\n                       |  Данные формы           | объекта отображаем переключалку (табы) банков, иначе не отображаем\n          -------------------------------------------------------------------"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "4atcowuwp0g4a"
        },
        "summary": "POST /deposit/request",
        "operationId": "post-deposit-request",
        "description": "Отправка формы пополнения счета"
      }
    },
    "/deposit/info": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "promo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Deposit"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "1an8cr1uu3zwo"
        }
      }
    },
    "/deposit/result": {
      "get": {
        "tags": [
          "Deposit"
        ],
        "summary": "Request for replenishment status",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "```result``` - страница с результато(Default);```cancel``` - страница с отменой пользователем;```fail``` - страница с ошибкой ",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Deposit"
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "x-stoplight": {
          "id": "mtvhuc0mszmei"
        }
      }
    },
    "/education/glossary": {
      "get": {
        "tags": [
          "Education"
        ],
        "responses": {
          "200": {
            "description": "Returns Glossary Static INFO",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-stoplight": {
          "id": "29r4dfro0v4dr"
        }
      }
    },
    "/education/faq": {
      "get": {
        "tags": [
          "Education"
        ],
        "responses": {
          "200": {
            "description": "Returns FAQ Static INFO",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-stoplight": {
          "id": "lbaswghddirss"
        }
      }
    },
    "/education": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Index Page",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Lessons",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-stoplight": {
          "id": "jjaav6lt6l92l"
        }
      }
    },
    "/education/lessons": {
      "get": {
        "tags": [
          "Education"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Lessons",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-stoplight": {
          "id": "bgkcytxkrr8z3"
        }
      },
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Checkbox switch",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "string",
                    "example": "1"
                  }
                },
                "type": "object"
[...]
